.product-detail{
    margin: 0;    
}

.product-detail .gallery{
    float: left;
    width: 350px;
    padding-top: 20px;
}
.product-detail .gallery img{
    display: block;
    width: 300px;   
    margin: 0 auto; 
}
.product-detail .property{
    width: 650px;
    float: left;
}

.property .title{
    padding-bottom: .2em;    
    font-size: 16px;
    font-weight: 700;
    color: #000;
    font-family: "microsoft yahei";
}

.product-detail .aside-right{
    float: left;
    width: 190px;
}

.fcs-panel {   
    position: relative;
    left: 0;    
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 20px;
	background-color: #e9e9e9;
    background-repeat: no-repeat;
    background-image: url("../images/bg-fcs-panel.png");
}

.coupon-panel {
    position: relative;
    height: 35px;
    margin: 0 10px 0 8px;
    font: 400 12px/35px "Microsoft Yahei",tahoma,arial;
}

.coupon-panel img{
    height: 16px;
}

.coupon-panel a {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    color: #dd2727;
    padding-right: 30px;
    font: 400 12px/35px "Microsoft Yahei",tahoma,arial;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: right center;
    background-image: url(../images/coupon-arrow.png);
    background-size: 16px 16px;
}

.price-panel {
    position: static;
    color: #333;
    padding-left: 0;
}

.fcs-panel dl dt.meta {
    color: #999;
    font-size: 12px;
    text-align: left;
    float: left;
    width: 69px;
    margin: 0 0 0 8px;
}

.fcs-panel dl dd {
    color: #333;
    margin-left: 70px;
    font-family: Arial;
}

.price-panel .price{
    text-decoration: line-through;
}

.promo-panel .yen {
    vertical-align: middle;
    color: #c40000;
    font-size: 18px;
    font-family: Arial;   
    text-decoration: none;
}
.promo-panel  .price {
    vertical-align: middle;
    color: #c40000;
    font-size: 24px;
    font-family: Arial;
    font-weight: bolder;   
    text-decoration: none;
}

.property .meta {
    color: #999;
    font-size: 12px;
    text-align: left;
    float: left;
    width: 50px;
    margin: 0 10px;
}

.ind-panel {
    border: 1px dotted #c9c9c9;
    border-width: 1px 0;
    margin: -1px 20px 0 0;
    padding: 10px 0;
    position: relative;
    overflow: hidden;    
    clear: both;
    display: flex;
}

.ind-panel li {
    float: left;
    width: 33%;
    text-align: center;
    position: relative;
    left: -1px;
    border-left: 1px solid #e5dfda;
    flex: 1;
    line-height: 16px;
    list-style: none;
}

.ind-panel .label {
    display: inline-block;
    line-height: 16px;
    height: 16px;
    color: #999;
}

.ind-panel .count {
    display: inline-block;
    line-height: 16px;
    height: 16px;
    color: #c40000;
    font-weight: 700;
    margin-left: 3px;
}

.amount-panel{
    height: 31px;
    line-height: 31px;
}

.amount-panel input{
    vertical-align: middle;
    color: #666;
    font-size: 12px;
    margin: 0;
    padding: 3px 2px 0 3px;
    height: 26px;
    border: 1px solid #a7a6ac;
    width: 36px;
    line-height: 26px;    
}

.amount-panel .unit {
    vertical-align: middle;
    margin-left: 5px;
    line-height: 31px;
    color: #878787;
}

.action-panel{
    width: 400px;
    margin: 0 auto;
}

.action-panel .btn-buy{
    margin-right: 10px;
    float: left;
}

.action-panel .btn-buy a {
    margin-right: 0;
    float: left;
    overflow: hidden;
    position: relative;
    width: 178px;
    height: 38px;
    line-height: 38px;
    background-color: #ffeded;
    border: 1px solid #c40000;
    color: #c40000;
    font-family: 'Microsoft Yahei';
    font-size: 16px;
    text-align: center;
}

.action-panel .btn-basket a {
    margin-right: 0;
    float: left;
    overflow: hidden;
    position: relative;
    width: 178px;
    height: 38px;
    line-height: 38px;
    background-color: #c40000;
    border: 1px solid #c40000;
    color: #fff;
    font-family: 'Microsoft Yahei';
    font-size: 16px;
    text-align: center;
}

.aside-right .title {
    position: relative;
    height: 15px;
    margin-top: 5px;
    overflow: hidden;
}

.aside-right .title s {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 140px;
    height: 0;
    border-top: 1px #c9c9c9 dotted;
    text-decoration: none;
}

.aside-right .title span {
    position: absolute;
    color: #999;
    text-align: center;
    width: 6em;
    top: 0;
    left: 50%;
    margin-left: -3em;
    background-color: #fff;
}
.aside-right .content {
    width: 100%;
    padding: 0;    
}

.aside-right .content li {   
    height: 160px;   
}

.aside-right .content .img {
    height: 140px;
    width: 140px;
    margin: 0 auto;
    position: relative;
    background-color: #f8f8f8;    
    overflow: hidden;
}

.aside-right .content a {
    display: block;
    text-align: center;
    color: #62574e;
}

.aside-right .content .look_price {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;    
    font-family: Arial;
    line-height: 20px;
    background-color: rgba(255,255,255,.8);    
    text-align: center;
}




